body{
    background-color: gray;
}

.eggsFather{
    color: white;
    display: flex;
}

.title{
    color: white;
    margin-left: 40%;
}

.eggImages img{
    width: 100px;
    height: 100px;
}

.eggsText{
    display: flex;
}

.eggsChild{
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}